In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [14]:
data['Duration'].value_counts(ascending=True)

Duration
80      1
300     1
270     1
25      1
210     2
160     2
15      2
75      2
180     3
120     3
150     4
90      8
20      9
30     16
45     35
60     79
Name: count, dtype: int64

In [17]:
data['Duration']

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [15]:
data['Pulse']

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [16]:
data['Duration']

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64