In [44]:
import pandas as pd
df1 = pd.read_csv('dataset/payment_one.csv')
df2 = pd.read_csv('dataset/payment_two.csv')
max_id_in_df1 = df1['id'].max()
max_id_in_df1
df1

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,651ba896fc13ae5a33fd67c1,Nikita Siflet,nsifletrn@theguardian.com,122.52.109.93,e344e51bec6398844fcb74727cc049a6,$87360.97,50000,2022-08-17 01:25:45,Pending,Bill Transaction,Cheque
996,997,651ba896fc13ae5a33fd67c2,Lynnett Hands,lhandsro@howstuffworks.com,184.127.118.128,af30cf63b3acf6311626fe76fc0e334a,$1014.76,25000,2021-10-20 20:26:08,Completed,Purchase Transaction,UPI
997,998,651ba896fc13ae5a33fd67c3,Berty Conniam,bconniamrp@cyberchimps.com,102.61.120.33,20dcebc0e92547edb9d3648826758833,$34231.18,10000,2023-03-02 10:01:52,Pending,Loan Transaction,Credit Card
998,999,651ba896fc13ae5a33fd67c4,Bale Davidovitz,bdavidovitzrq@google.com.hk,40.109.144.123,df27b5c3fd7ffdca5ec69c834ee2c844,$15362.04,25000,2023-04-14 07:40:12,Failed,Purchase Transaction,Bank Transfer
999,1000,651ba896fc13ae5a33fd67c5,Nonah Durram,ndurramrr@foxnews.com,206.79.205.42,e4d5982c599fb4563736d0afcacad740,$57150.44,10000,2023-06-30 11:51:31,Failed,Purchase Transaction,Bank Transfer

In [45]:
df2['id'] = df2['id'] + max_id_in_df1
df2

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1001,651ba8c0fc13ae594bfd7fd2,Marcelia McEvilly,mmcevilly0@sciencedirect.com,22.241.188.166,3a394c32f7bce39051ab1d1e0e64bb04,$41028.78,10000,2022-09-14 10:06:39,Failed,Bill Transaction,Bank Transfer
1,1002,651ba8c0fc13ae594bfd7fd3,Reinhard Enbury,renbury1@dell.com,27.22.38.27,57ec17a29aee3e24088a1bd32324fd8d,$40787.22,25000,2022-12-19 14:55:42,Completed,Bill Transaction,Cheque
2,1003,651ba8c0fc13ae594bfd7fd4,Ettore Mohring,emohring2@mozilla.org,162.64.136.238,91aec9c8751311fadc434b3f73fcad66,$45325.99,10000,2023-05-20 22:07:35,Pending,Loan Transaction,Bank Transfer
3,1004,651ba8c0fc13ae594bfd7fd5,Cally Fernandes,cfernandes3@cocolog-nifty.com,44.129.31.40,631ae1f580ac917dca5a49dea06adce0,$40795.43,10000,2022-04-08 12:41:28,Completed,Purchase Transaction,UPI
4,1005,651ba8c0fc13ae594bfd7fd6,Catharine De Coursey,cde4@istockphoto.com,188.187.175.49,2188e618edf8eca33547fab38697b141,$59188.94,10000,2023-03-23 14:41:58,Failed,Purchase Transaction,Cheque
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1996,651ba8c2fc13ae594bfd83b5,Netti Beining,nbeiningrn@virginia.edu,161.162.107.192,bf88911becdc2828528e49d711075c23,$59184.07,25000,2023-07-22 23:51:04,Failed,Loan Transaction,Cheque
996,1997,651ba8c2fc13ae594bfd83b6,Glenn Ibbotson,gibbotsonro@ebay.co.uk,9.151.146.147,7b56512b9cd06c3887ed3225ad9b7035,$57314.24,25000,2021-12-29 09:36:21,Pending,Loan Transaction,Cheque
997,1998,651ba8c2fc13ae594bfd83b7,Merrick Eschelle,meschellerp@tripadvisor.com,214.56.12.47,c17fba88b33b2e5bfe62b2a9e929ad65,$31121.06,50000,2021-10-18 22:50:01,Pending,Loan Transaction,Bank Transfer
998,1999,651ba8c2fc13ae594bfd83b8,Emmy Lashley,elashleyrq@bloglines.com,117.31.246.2,7ff52acdd9bf2e51863bb2648e9d22e9,$85796.48,50000,2023-06-13 11:54:50,Failed,Purchase Transaction,Bank Transfer
999,2000,651ba8c2fc13ae594bfd83b9,Valentin Kennford,vkennfordrr@amazon.de,31.127.192.106,32360b975b37101fa14a31381d641014,$83441.65,75000,2023-09-24 17:22:25,Completed,Refund Transaction,UPI

In [46]:
combined_df = pd.concat([df1, df2], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,651ba8c2fc13ae594bfd83b5,Netti Beining,nbeiningrn@virginia.edu,161.162.107.192,bf88911becdc2828528e49d711075c23,$59184.07,25000,2023-07-22 23:51:04,Failed,Loan Transaction,Cheque
1996,1997,651ba8c2fc13ae594bfd83b6,Glenn Ibbotson,gibbotsonro@ebay.co.uk,9.151.146.147,7b56512b9cd06c3887ed3225ad9b7035,$57314.24,25000,2021-12-29 09:36:21,Pending,Loan Transaction,Cheque
1997,1998,651ba8c2fc13ae594bfd83b7,Merrick Eschelle,meschellerp@tripadvisor.com,214.56.12.47,c17fba88b33b2e5bfe62b2a9e929ad65,$31121.06,50000,2021-10-18 22:50:01,Pending,Loan Transaction,Bank Transfer
1998,1999,651ba8c2fc13ae594bfd83b8,Emmy Lashley,elashleyrq@bloglines.com,117.31.246.2,7ff52acdd9bf2e51863bb2648e9d22e9,$85796.48,50000,2023-06-13 11:54:50,Failed,Purchase Transaction,Bank Transfer
1999,2000,651ba8c2fc13ae594bfd83b9,Valentin Kennford,vkennfordrr@amazon.de,31.127.192.106,32360b975b37101fa14a31381d641014,$83441.65,75000,2023-09-24 17:22:25,Completed,Refund Transaction,UPI

In [50]:
df3 = pd.read_csv('dataset/payment_three.csv')
df4 = pd.read_csv('dataset/payment_four.csv')
df5 = pd.read_csv('dataset/payment_five.csv')
max_id_in_combined = combined_df['id'].max()
max_id_in_combined

2000

In [51]:
df3['id'] = df3['id'] + max_id_in_combined
df3

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,2001,651ba902fc13ae585afd822a,Antonio Beynkn,abeynkn0@hc360.com,67.55.66.57,dfd9ada43afa43f37c02e08b9508fcd5,$9749.82,10000,2022-08-29 06:20:33,Pending,Refund Transaction,Credit Card
1,2002,651ba902fc13ae585afd822b,Eleanora Antonazzi,eantonazzi1@guardian.co.uk,1.96.76.57,2c977c48bddfdcd39f615f0ff0d33f8d,$65932.29,10000,2022-10-28 23:48:54,Pending,Refund Transaction,UPI
2,2003,651ba902fc13ae585afd822c,Crystie Mainston,cmainston2@loc.gov,177.133.239.10,3e7a3a062c0e14e9fb073208991895a1,$44939.31,25000,2021-10-24 13:36:01,Failed,Refund Transaction,UPI
3,2004,651ba902fc13ae585afd822d,Rhea Found,rfound3@earthlink.net,103.114.48.39,48f67fd358578d0795b1c77a94093a92,$51862.77,10000,2022-07-01 17:36:03,Failed,Refund Transaction,Credit Card
4,2005,651ba902fc13ae585afd822e,Ardelle Pockey,apockey4@xrea.com,8.214.126.29,1f3a0471049a2403dcb97f7aa3f571b2,$69631.54,25000,2022-05-29 02:33:39,Failed,Bill Transaction,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2996,651ba904fc13ae585afd860d,Araldo Riccardo,ariccardorn@wp.com,230.131.212.208,a098c98071c2c29175b8f9ed1aafb7cb,$48940.92,75000,2022-07-18 03:58:29,Failed,Bill Transaction,Bank Transfer
996,2997,651ba904fc13ae585afd860e,Kenny Drake,kdrakero@bbb.org,232.191.177.245,820d733cf859547c3c6c4057fbab17d8,$56659.42,75000,2022-09-07 11:56:30,Failed,Bill Transaction,Net Banking
997,2998,651ba904fc13ae585afd860f,Geoffry Rix,grixrp@nbcnews.com,14.79.52.89,d812f5f340cd0a5df17625e829739166,$83006.42,10000,2022-12-25 22:39:08,Completed,Loan Transaction,Credit Card
998,2999,651ba904fc13ae585afd8610,Christian Ygoe,cygoerq@soundcloud.com,241.155.235.214,5c93927ec68094049687229eb51341dd,$97435.18,75000,2022-09-27 03:56:41,Failed,Bill Transaction,Cheque
999,3000,651ba904fc13ae585afd8611,Elisabet Bleythin,ebleythinrr@elegantthemes.com,228.72.39.53,611319ec43152b53791221381e4317e1,$4831.32,10000,2021-12-23 21:38:33,Pending,Bill Transaction,UPI

In [52]:
combined_df = pd.concat([combined_df, df3], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,651ba904fc13ae585afd860d,Araldo Riccardo,ariccardorn@wp.com,230.131.212.208,a098c98071c2c29175b8f9ed1aafb7cb,$48940.92,75000,2022-07-18 03:58:29,Failed,Bill Transaction,Bank Transfer
2996,2997,651ba904fc13ae585afd860e,Kenny Drake,kdrakero@bbb.org,232.191.177.245,820d733cf859547c3c6c4057fbab17d8,$56659.42,75000,2022-09-07 11:56:30,Failed,Bill Transaction,Net Banking
2997,2998,651ba904fc13ae585afd860f,Geoffry Rix,grixrp@nbcnews.com,14.79.52.89,d812f5f340cd0a5df17625e829739166,$83006.42,10000,2022-12-25 22:39:08,Completed,Loan Transaction,Credit Card
2998,2999,651ba904fc13ae585afd8610,Christian Ygoe,cygoerq@soundcloud.com,241.155.235.214,5c93927ec68094049687229eb51341dd,$97435.18,75000,2022-09-27 03:56:41,Failed,Bill Transaction,Cheque
2999,3000,651ba904fc13ae585afd8611,Elisabet Bleythin,ebleythinrr@elegantthemes.com,228.72.39.53,611319ec43152b53791221381e4317e1,$4831.32,10000,2021-12-23 21:38:33,Pending,Bill Transaction,UPI

In [53]:
max_id_in_combined = combined_df['id'].max()
max_id_in_combined

3000

In [54]:
df4['id'] = df4['id'] + max_id_in_combined
df4

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,3001,651ba917fc13ae58c1fd7dde,Julissa Uden,juden0@huffingtonpost.com,142.148.129.63,26192642c34bf65888482e87076ebed4,$72197.59,75000,2023-07-23 07:21:17,Failed,Purchase Transaction,Bank Transfer
1,3002,651ba917fc13ae58c1fd7ddf,Trina Callingham,tcallingham1@yandex.ru,170.12.79.45,239fee279cb707ec8fffb4dff1e1bf29,$86400.52,50000,2023-05-10 03:31:30,Failed,Loan Transaction,Cheque
2,3003,651ba917fc13ae58c1fd7de0,Nert Banister,nbanister2@columbia.edu,80.238.20.180,1b5cb268099e53e41e50e042de083aa4,$29506.18,75000,2023-04-13 10:23:30,Completed,Purchase Transaction,Debit Card
3,3004,651ba917fc13ae58c1fd7de1,Kiah Eastes,keastes3@list-manage.com,205.195.114.206,8e2b609a9e625745e700d4cd14d878bf,$75073.27,10000,2021-12-16 19:50:41,Pending,Purchase Transaction,Bank Transfer
4,3005,651ba917fc13ae58c1fd7de2,Chicky Cheater,ccheater4@surveymonkey.com,130.172.11.187,45902266d99b711aa2474a0661a01e8c,$68656.72,10000,2022-01-02 15:14:50,Completed,Purchase Transaction,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
995,3996,651ba919fc13ae58c1fd81c1,Vincent Lebrun,vlebrunrn@salon.com,227.90.126.168,cb120ec95694c7cf85109639cd0f7e60,$43407.80,25000,2022-11-26 05:08:55,Failed,Purchase Transaction,Cheque
996,3997,651ba919fc13ae58c1fd81c2,Chelsy De Roeck,cdero@meetup.com,167.87.37.198,05e5324a89096f466e8c9b7d7665bf39,$249.51,25000,2021-12-31 10:47:46,Failed,Loan Transaction,UPI
997,3998,651ba919fc13ae58c1fd81c3,Deeyn Caherny,dcahernyrp@istockphoto.com,144.218.132.106,3d174387bfd18e98f4a1d57a3da3fb24,$95695.07,75000,2022-08-21 13:53:45,Pending,Loan Transaction,Debit Card
998,3999,651ba919fc13ae58c1fd81c4,Rodolphe Lawtey,rlawteyrq@unesco.org,63.145.221.13,81933dc91825a2ae634cbff807f6c481,$4418.65,25000,2022-02-15 10:12:10,Pending,Bill Transaction,Net Banking
999,4000,651ba919fc13ae58c1fd81c5,Hyacintha Darko,hdarkorr@samsung.com,226.233.123.221,d5946cbcf5130749de664e1906eb0281,$87788.62,25000,2022-12-09 12:30:04,Pending,Purchase Transaction,Bank Transfer

In [55]:
combined_df = pd.concat([combined_df, df4], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,651ba919fc13ae58c1fd81c1,Vincent Lebrun,vlebrunrn@salon.com,227.90.126.168,cb120ec95694c7cf85109639cd0f7e60,$43407.80,25000,2022-11-26 05:08:55,Failed,Purchase Transaction,Cheque
3996,3997,651ba919fc13ae58c1fd81c2,Chelsy De Roeck,cdero@meetup.com,167.87.37.198,05e5324a89096f466e8c9b7d7665bf39,$249.51,25000,2021-12-31 10:47:46,Failed,Loan Transaction,UPI
3997,3998,651ba919fc13ae58c1fd81c3,Deeyn Caherny,dcahernyrp@istockphoto.com,144.218.132.106,3d174387bfd18e98f4a1d57a3da3fb24,$95695.07,75000,2022-08-21 13:53:45,Pending,Loan Transaction,Debit Card
3998,3999,651ba919fc13ae58c1fd81c4,Rodolphe Lawtey,rlawteyrq@unesco.org,63.145.221.13,81933dc91825a2ae634cbff807f6c481,$4418.65,25000,2022-02-15 10:12:10,Pending,Bill Transaction,Net Banking
3999,4000,651ba919fc13ae58c1fd81c5,Hyacintha Darko,hdarkorr@samsung.com,226.233.123.221,d5946cbcf5130749de664e1906eb0281,$87788.62,25000,2022-12-09 12:30:04,Pending,Purchase Transaction,Bank Transfer

In [56]:
max_id_in_combined = combined_df['id'].max()
max_id_in_combined

4000

In [57]:
df5['id'] = df5['id'] + max_id_in_combined
df5

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,4001,651ba929fc13ae59ccfd68c6,Steven Warne,swarne0@privacy.gov.au,89.171.253.185,0f696dfe3b01d22d6cac6e61d6162d57,$61166.26,25000,2022-03-25 02:20:56,Completed,Bill Transaction,Bank Transfer
1,4002,651ba929fc13ae59ccfd68c7,Jammal Jost,jjost1@aboutads.info,95.83.99.180,8bde004cf9d29cb37d065904b1bc5127,$13582.35,10000,2022-03-03 12:01:18,Failed,Bill Transaction,Bank Transfer
2,4003,651ba929fc13ae59ccfd68c8,Clotilda Sterricks,csterricks2@stumbleupon.com,227.192.254.233,89b980747463e58d21c7d59b07a2b71d,$7207.95,10000,2023-06-15 01:50:15,Completed,Bill Transaction,Debit Card
3,4004,651ba929fc13ae59ccfd68c9,Booth Chasemore,bchasemore3@springer.com,189.129.15.189,94b44b1bc5bd438fdff5151529b88978,$60301.67,50000,2022-10-16 09:12:42,Pending,Bill Transaction,Net Banking
4,4005,651ba929fc13ae59ccfd68ca,Rusty Sprosson,rsprosson4@php.net,115.92.25.25,546ed9f3a19c39811eec79a1db50e501,$87845.17,75000,2022-02-10 05:30:31,Failed,Bill Transaction,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,$36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,$66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,$39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,$53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,$52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [58]:
combined_df = pd.concat([combined_df, df5], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,$36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
4996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,$66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
4997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,$39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
4998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,$53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
4999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,$52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [59]:
combined_df.to_csv('payment_combined.csv', index=False)

In [68]:
paydf=pd.read_csv('dataset/payment_combined.csv')
paydf

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,$36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
4996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,$66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
4997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,$39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
4998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,$53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
4999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,$52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [69]:
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   object
 7   transaction_limit   5000 non-null   int64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: int64(2), object(10)
memory usage: 468.9+ KB

In [72]:
paydf['transaction_amount'] = paydf['transaction_amount'].str.replace("$", "").astype(float)
paydf

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
4996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
4997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
4998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
4999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [73]:
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   float64
 7   transaction_limit   5000 non-null   int64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 468.9+ KB

In [75]:
pd.options.display.max_rows = 9999
print(pd.options.display.max_rows)

9999

In [78]:
pd.set_option('display.expand_frame_repr', False)

In [80]:
pd.options.display.max_rows = 60
print(pd.options.display.max_rows)

60

In [81]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0        1  651ba894fc13ae5a33fd63de        Tony Stather     tstather0@engadget.com   104.149.14.236  b85157a79caf552696a0455659176ba0            91542.37              50000  2022-09-29 08:31:45             Failed      Loan Transaction         Cheque
1        2  651ba894fc13ae5a33fd63df         Berta Pietz      bpietz1@delicious.com   253.198.94.115  f54cb081ae7c5256a0d87390df95d295            37088.59              50000  2022-12-18 15:26:59             Failed      Loan Transaction     Debit Card
2        3  651ba894fc13ae5a33fd63e0       Idette Montes       imontes2@foxnews.com  128.215.163.145  310c17c83691dbdcb32c5b633d760f81            13584.40              10000  2022-08-07 06:06:59            Pending      Loan Transaction         Cheque
3        4  651ba894fc13ae5a33fd63e1       Renie Verrier    rverrier3@over-blog.com   143.68.236.153  3ef0d5ee515c33c8578e69394cfdfa81            85612.45              50000  2023-04-04 09:13:20            Pending      Loan Transaction    Net Banking
4        5  651ba894fc13ae5a33fd63e2        Karlan Agney         kagney4@flavors.me    42.244.173.17  f03d1eee42255705982c8cac1f77f03a             3121.92              50000  2023-05-26 09:29:28          Completed      Loan Transaction     Debit Card
...    ...                       ...                 ...                        ...              ...                               ...                 ...                ...                  ...                ...                   ...            ...
4995  4996  651ba92afc13ae59ccfd6ca9      Andeee Timpany  atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60            36564.81              10000  2022-02-06 23:32:38            Pending      Loan Transaction         Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane    pmaccarranero@jimdo.com  197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9            66659.97              10000  2022-04-16 07:26:11          Completed    Refund Transaction         Cheque
4997  4998  651ba92afc13ae59ccfd6cab      Debby Bouchard  dbouchardrp@mediafire.com    56.81.222.250  8334a9840028b047c0f7645658d04988            39510.13              75000  2022-04-17 23:09:24            Pending  Purchase Transaction            UPI
4998  4999  651ba92afc13ae59ccfd6cac     Annmarie Cruise          acruiserq@aol.com     40.89.217.71  76a4b92379e2453929a0ac53ab0c4514            53819.74              75000  2022-07-11 19:03:59          Completed      Bill Transaction    Net Banking
4999  5000  651ba92afc13ae59ccfd6cad    Zsa zsa Fontanet      zzsarr@craigslist.org   39.123.179.160  3cdd03219bea559fbc9e5f63219546a6            52718.52              75000  2022-09-05 21:13:16             Failed    Refund Transaction            UPI

[5000 rows x 12 columns]

In [82]:
paydf.to_csv('dataset/payment_combined.csv', index=False)

In [83]:
newpaydf = pd.read_csv('dataset/payment_combined.csv')
newpaydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0        1  651ba894fc13ae5a33fd63de        Tony Stather     tstather0@engadget.com   104.149.14.236  b85157a79caf552696a0455659176ba0            91542.37              50000  2022-09-29 08:31:45             Failed      Loan Transaction         Cheque
1        2  651ba894fc13ae5a33fd63df         Berta Pietz      bpietz1@delicious.com   253.198.94.115  f54cb081ae7c5256a0d87390df95d295            37088.59              50000  2022-12-18 15:26:59             Failed      Loan Transaction     Debit Card
2        3  651ba894fc13ae5a33fd63e0       Idette Montes       imontes2@foxnews.com  128.215.163.145  310c17c83691dbdcb32c5b633d760f81            13584.40              10000  2022-08-07 06:06:59            Pending      Loan Transaction         Cheque
3        4  651ba894fc13ae5a33fd63e1       Renie Verrier    rverrier3@over-blog.com   143.68.236.153  3ef0d5ee515c33c8578e69394cfdfa81            85612.45              50000  2023-04-04 09:13:20            Pending      Loan Transaction    Net Banking
4        5  651ba894fc13ae5a33fd63e2        Karlan Agney         kagney4@flavors.me    42.244.173.17  f03d1eee42255705982c8cac1f77f03a             3121.92              50000  2023-05-26 09:29:28          Completed      Loan Transaction     Debit Card
...    ...                       ...                 ...                        ...              ...                               ...                 ...                ...                  ...                ...                   ...            ...
4995  4996  651ba92afc13ae59ccfd6ca9      Andeee Timpany  atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60            36564.81              10000  2022-02-06 23:32:38            Pending      Loan Transaction         Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane    pmaccarranero@jimdo.com  197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9            66659.97              10000  2022-04-16 07:26:11          Completed    Refund Transaction         Cheque
4997  4998  651ba92afc13ae59ccfd6cab      Debby Bouchard  dbouchardrp@mediafire.com    56.81.222.250  8334a9840028b047c0f7645658d04988            39510.13              75000  2022-04-17 23:09:24            Pending  Purchase Transaction            UPI
4998  4999  651ba92afc13ae59ccfd6cac     Annmarie Cruise          acruiserq@aol.com     40.89.217.71  76a4b92379e2453929a0ac53ab0c4514            53819.74              75000  2022-07-11 19:03:59          Completed      Bill Transaction    Net Banking
4999  5000  651ba92afc13ae59ccfd6cad    Zsa zsa Fontanet      zzsarr@craigslist.org   39.123.179.160  3cdd03219bea559fbc9e5f63219546a6            52718.52              75000  2022-09-05 21:13:16             Failed    Refund Transaction            UPI

[5000 rows x 12 columns]

In [84]:
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   float64
 7   transaction_limit   5000 non-null   int64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 468.9+ KB

In [109]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0        1  651ba894fc13ae5a33fd63de        Tony Stather     tstather0@engadget.com   104.149.14.236  b85157a79caf552696a0455659176ba0            91542.37              50000  2022-09-29 08:31:45             Failed      Loan Transaction         Cheque
1        2  651ba894fc13ae5a33fd63df         Berta Pietz      bpietz1@delicious.com   253.198.94.115  f54cb081ae7c5256a0d87390df95d295            37088.59              50000  2022-12-18 15:26:59            Pending      Loan Transaction     Debit Card
2        3  651ba894fc13ae5a33fd63e0       Idette Montes       imontes2@foxnews.com  128.215.163.145  310c17c83691dbdcb32c5b633d760f81            13584.40              10000  2022-08-07 06:06:59            Pending      Loan Transaction         Cheque
3        4  651ba894fc13ae5a33fd63e1       Renie Verrier    rverrier3@over-blog.com   143.68.236.153  3ef0d5ee515c33c8578e69394cfdfa81            85612.45              50000  2023-04-04 09:13:20            Pending      Loan Transaction    Net Banking
4        5  651ba894fc13ae5a33fd63e2        Karlan Agney         kagney4@flavors.me    42.244.173.17  f03d1eee42255705982c8cac1f77f03a             3121.92              50000  2023-05-26 09:29:28          Completed      Loan Transaction     Debit Card
...    ...                       ...                 ...                        ...              ...                               ...                 ...                ...                  ...                ...                   ...            ...
4995  4996  651ba92afc13ae59ccfd6ca9      Andeee Timpany  atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60            36564.81              10000  2022-02-06 23:32:38            Pending      Loan Transaction         Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane    pmaccarranero@jimdo.com  197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9            66659.97              10000  2022-04-16 07:26:11          Completed    Refund Transaction         Cheque
4997  4998  651ba92afc13ae59ccfd6cab      Debby Bouchard  dbouchardrp@mediafire.com    56.81.222.250  8334a9840028b047c0f7645658d04988            39510.13              75000  2022-04-17 23:09:24          Completed  Purchase Transaction            UPI
4998  4999  651ba92afc13ae59ccfd6cac     Annmarie Cruise          acruiserq@aol.com     40.89.217.71  76a4b92379e2453929a0ac53ab0c4514            53819.74              75000  2022-07-11 19:03:59            Pending      Bill Transaction    Net Banking
4999  5000  651ba92afc13ae59ccfd6cad    Zsa zsa Fontanet      zzsarr@craigslist.org   39.123.179.160  3cdd03219bea559fbc9e5f63219546a6            52718.52              75000  2022-09-05 21:13:16          Completed    Refund Transaction            UPI

[5000 rows x 12 columns]

In [119]:
import numpy as np
condition = paydf['transaction_amount'] > paydf['transaction_limit']
random_status = np.random.choice(['Pending', 'Failed'], size=condition.sum())
paydf.loc[condition, 'transaction_status'] = random_status

In [110]:
paydf['transaction_limit'] = paydf['transaction_limit'].astype(float)
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   float64
 7   transaction_limit   5000 non-null   float64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 468.9+ KB

In [120]:
condition

0        True
1       False
2        True
3        True
4       False
        ...
4995     True
4996     True
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [157]:
pd.options.display.max_rows = 10

In [158]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0     1     651ba894fc13ae5a33fd63de  Tony Stather        tstather0@engadget.com     104.149.14.236   b85157a79caf552696a0455659176ba0  91542.37            50000.0            2022-09-29 08:31:45  Failed             Loan Transaction      Cheque
1     2     651ba894fc13ae5a33fd63df  Berta Pietz         bpietz1@delicious.com      253.198.94.115   f54cb081ae7c5256a0d87390df95d295  37088.59            50000.0            2022-12-18 15:26:59  Completed          Loan Transaction      Debit Card
2     3     651ba894fc13ae5a33fd63e0  Idette Montes       imontes2@foxnews.com       128.215.163.145  310c17c83691dbdcb32c5b633d760f81  13584.40            10000.0            2022-08-07 06:06:59  Failed             Loan Transaction      Cheque
3     4     651ba894fc13ae5a33fd63e1  Renie Verrier       rverrier3@over-blog.com    143.68.236.153   3ef0d5ee515c33c8578e69394cfdfa81  85612.45            50000.0            2023-04-04 09:13:20  Pending            Loan Transaction      Net Banking
4     5     651ba894fc13ae5a33fd63e2  Karlan Agney        kagney4@flavors.me         42.244.173.17    f03d1eee42255705982c8cac1f77f03a  3121.92             50000.0            2023-05-26 09:29:28  Completed          Loan Transaction      Debit Card
...  ..                          ...           ...                       ...                   ...                                 ...      ...                 ...                            ...        ...                       ...             ...
4995  4996  651ba92afc13ae59ccfd6ca9  Andeee Timpany      atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60  36564.81            10000.0            2022-02-06 23:32:38  Failed             Loan Transaction      Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane  pmaccarranero@jimdo.com    197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9  66659.97            10000.0            2022-04-16 07:26:11  Failed             Refund Transaction    Cheque
4997  4998  651ba92afc13ae59ccfd6cab  Debby Bouchard      dbouchardrp@mediafire.com  56.81.222.250    8334a9840028b047c0f7645658d04988  39510.13            75000.0            2022-04-17 23:09:24  Pending            Purchase Transaction  UPI
4998  4999  651ba92afc13ae59ccfd6cac  Annmarie Cruise     acruiserq@aol.com          40.89.217.71     76a4b92379e2453929a0ac53ab0c4514  53819.74            75000.0            2022-07-11 19:03:59  Completed          Bill Transaction      Net Banking
4999  5000  651ba92afc13ae59ccfd6cad  Zsa zsa Fontanet    zzsarr@craigslist.org      39.123.179.160   3cdd03219bea559fbc9e5f63219546a6  52718.52            75000.0            2022-09-05 21:13:16  Completed          Refund Transaction    UPI

[5000 rows x 12 columns]

In [166]:
paydf['transaction_id'].nunique()

5000

In [167]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0     1     651ba894fc13ae5a33fd63de  Tony Stather        tstather0@engadget.com     104.149.14.236   b85157a79caf552696a0455659176ba0  91542.37            50000.0            2022-09-29 08:31:45  Failed             Loan Transaction      Cheque
1     2     651ba894fc13ae5a33fd63df  Berta Pietz         bpietz1@delicious.com      253.198.94.115   f54cb081ae7c5256a0d87390df95d295  37088.59            50000.0            2022-12-18 15:26:59  Completed          Loan Transaction      Debit Card
2     3     651ba894fc13ae5a33fd63e0  Idette Montes       imontes2@foxnews.com       128.215.163.145  310c17c83691dbdcb32c5b633d760f81  13584.40            10000.0            2022-08-07 06:06:59  Failed             Loan Transaction      Cheque
3     4     651ba894fc13ae5a33fd63e1  Renie Verrier       rverrier3@over-blog.com    143.68.236.153   3ef0d5ee515c33c8578e69394cfdfa81  85612.45            50000.0            2023-04-04 09:13:20  Pending            Loan Transaction      Net Banking
4     5     651ba894fc13ae5a33fd63e2  Karlan Agney        kagney4@flavors.me         42.244.173.17    f03d1eee42255705982c8cac1f77f03a  3121.92             50000.0            2023-05-26 09:29:28  Completed          Loan Transaction      Debit Card
...  ..                          ...           ...                       ...                   ...                                 ...      ...                 ...                            ...        ...                       ...             ...
4995  4996  651ba92afc13ae59ccfd6ca9  Andeee Timpany      atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60  36564.81            10000.0            2022-02-06 23:32:38  Failed             Loan Transaction      Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane  pmaccarranero@jimdo.com    197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9  66659.97            10000.0            2022-04-16 07:26:11  Failed             Refund Transaction    Cheque
4997  4998  651ba92afc13ae59ccfd6cab  Debby Bouchard      dbouchardrp@mediafire.com  56.81.222.250    8334a9840028b047c0f7645658d04988  39510.13            75000.0            2022-04-17 23:09:24  Pending            Purchase Transaction  UPI
4998  4999  651ba92afc13ae59ccfd6cac  Annmarie Cruise     acruiserq@aol.com          40.89.217.71     76a4b92379e2453929a0ac53ab0c4514  53819.74            75000.0            2022-07-11 19:03:59  Completed          Bill Transaction      Net Banking
4999  5000  651ba92afc13ae59ccfd6cad  Zsa zsa Fontanet    zzsarr@craigslist.org      39.123.179.160   3cdd03219bea559fbc9e5f63219546a6  52718.52            75000.0            2022-09-05 21:13:16  Completed          Refund Transaction    UPI

[5000 rows x 12 columns]

In [168]:
paydf.to_csv('dataset/payment_combined.csv', index=False)

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('dataset/payment_history.csv')
df

,Unnamed: 0,payer_account_number,payment_amount,payment_limit,payment_date_and_time,payment_type,payment_method,payment_status,payee_account_number,ip_address
0,0,93241136018,33154.19,10000,2023-10-08 15:53:43.255583,Service,Bank Transfers,Failed,55869792021,22.237.15.53
1,1,51702368715,19717.06,75000,2023-10-09 08:46:45.255583,Service,Digital Wallets,Failed,78817652976,90.231.216.168
2,2,75379272660,94456.98,50000,2023-10-09 00:40:09.255583,Refund,Checks,Failed,49951680412,155.200.150.56
3,3,97412405333,90093.17,50000,2023-10-09 04:46:08.255583,Purchase,Debit,Failed,81653666628,126.184.70.52
4,4,97412405333,92000.51,25000,2023-10-09 00:26:45.255583,Refund,Checks,Pending,13844199885,126.184.70.52
...,...,...,...,...,...,...,...,...,...,...
49995,49995,76577126771,71198.98,25000,2023-10-08 05:20:48.782707,Refund,Credit,Failed,78817652976,163.233.167.159
49996,49996,7335518416,80254.22,50000,2023-10-08 05:26:30.782707,Service,Debit,Success,41788408679,76.186.214.223
49997,49997,81653666628,86319.48,75000,2023-10-09 07:57:10.782707,Refund,Bank Transfers,Success,5691352317,10.167.153.136
49998,49998,78817652976,56900.04,50000,2023-10-08 02:16:56.782707,Service,Credit,Pending,49951680412,123.253.196.8
49999,49999,87927980177,7925.49,50000,2023-10-07 23:27:51.782707,Purchase,Bank Transfers,Pending,73458485438,60.54.242.157

In [18]:
grouped = df.groupby('payer_account_number')
grouped

In [27]:
l = []
for payer, group in grouped:
    print(group['payment_amount'])
    l.append(group['payment_amount'])
len(l)

191      85144.82
208      58925.42
217      95269.46
388      39311.14
465      37528.66
           ...
49668    13831.75
49794    78736.55
49864    81962.63
49887    96781.90
49922    89565.99
Name: payment_amount, Length: 1027, dtype: float64
45       81173.54
78       72153.19
150      42716.42
151       5528.11
220      22596.30
           ...
49608    22908.13
49710    33943.38
49791    70079.12
49832    31175.98
49949    39901.62
Name: payment_amount, Length: 984, dtype: float64
20       21378.99
96       66781.88
137      14879.54
143      78889.11
164      71969.07
           ...
49840    36835.32
49860    64817.47
49872    23013.33
49912    40925.99
49934    79503.99
Name: payment_amount, Length: 1003, dtype: float64
29       31122.02
93       78298.71
156      83359.98
189      97194.55
219       8718.68
           ...
49760    65695.07
49838     7218.82
49950    56823.45
49968    67633.50
49996    80254.22
Name: payment_amount, Length: 968, dtype: float64
7        35884.46
90       74732.10
106      44750.13
148      41882.06
284      39936.86
           ...
49757    20709.26
49817    74329.06
49889    98021.02
49923    67862.94
49972    23195.56
Name: payment_amount, Length: 1014, dtype: float64
28       81548.44
73       69993.45
136      98820.09
239      46107.19
286      30732.41
           ...
49655    78705.90
49805    94837.25
49906    90195.94
49933    65368.21
49959    70038.40
Name: payment_amount, Length: 995, dtype: float64
66       94395.86
193      56518.70
201      16232.82
275      22265.68
457      60789.14
           ...
49952    69251.81
49974    69886.81
49975    36710.81
49978    91535.63
49990     3056.80
Name: payment_amount, Length: 1001, dtype: float64
72       65637.82
76       28830.48
94       40047.21
95       67051.68
224      11338.04
           ...
49691    31072.82
49775    62705.54
49793    43171.43
49806    61385.87
49875    60900.55
Name: payment_amount, Length: 1049, dtype: float64
12       58341.43
19       95246.70
54       39682.83
64       74060.24
97       98759.00
           ...
49863    69904.58
49873    57495.88
49897    13935.64
49963    71779.30
49969    55193.16
Name: payment_amount, Length: 1032, dtype: float64
6        85196.99
44       27212.08
63       37086.13
65       50583.23
104      13134.82
           ...
49635    32902.79
49665    21515.30
49709    42291.33
49761    12986.82
49841    72781.26
Name: payment_amount, Length: 1024, dtype: float64
36        5246.80
51       54952.77
69       78636.02
139      90337.89
145       6589.37
           ...
49741    14963.52
49780    85257.72
49926    28477.23
49927    59195.24
49982    83550.39
Name: payment_amount, Length: 972, dtype: float64
55       98715.25
132      61164.02
225      97105.59
256      63881.06
299      41772.94
           ...
49703    29480.70
49828    16099.50
49862     8376.06
49867    82852.38
49870     5874.95
Name: payment_amount, Length: 969, dtype: float64
10       51840.66
57       34685.30
79       66045.44
117      67166.83
195      82325.07
           ...
49769    97546.47
49877    22033.33
49878    81639.18
49925    42726.07
49932     7649.60
Name: payment_amount, Length: 989, dtype: float64
40         296.26
153      10675.45
159       4683.29
166      79850.09
209      79796.43
           ...
49759    46284.86
49767    32855.53
49885    79421.23
49911     8293.90
49965    91691.05
Name: payment_amount, Length: 998, dtype: float64
109      64886.82
131      29302.12
142       8682.97
149      64832.86
184      81220.85
           ...
49808    43214.90
49843    91486.59
49898    47934.48
49936    49317.05
49940    98032.27
Name: payment_amount, Length: 950, dtype: float64
8        39974.15
46       67918.69
133       3188.37
179      81983.98
216      13066.27
           ...
49799    97618.95
49820    57566.61
49836    30769.94
49842    85979.31
49896    30786.76
Name: payment_amount, Length: 1038, dtype: float64
68       74608.44
75       48954.45
77       53125.02
103      51349.13
188       1294.82
           ...
49664    55438.70
49822    46861.20
49829    14361.48
49871    62023.88
49987    92222.79
Name: payment_amount, Length: 972, dtype: float64
27       93186.93
58       28196.05
186      90544.12
248      64887.30
270       6998.12
           ...
49839    34330.61
49913    53385.09
49957    37461.83
49960    49376.90
49981    52571.56
Name: payment_amount, Length: 965, dtype: float64
242      54589.13
325      86458.00
329      53448.41
423      48716.85
484      63136.78
           ...
49893    59483.15
49942    30694.63
49946    71427.53
49951    20005.92
49988    81217.22
Name: payment_amount, Length: 950, dtype: float64
11       95020.25
25       14423.36
82       52970.17
163      40678.12
185      90525.96
           ...
49781    44700.90
49812    18681.55
49908    95855.28
49945    34931.86
49948    26653.81
Name: payment_amount, Length: 997, dtype: float64
13       40066.96
101      92775.35
116      32192.74
130      84963.00
251      23425.91
           ...
49756    61682.05
49830    51976.77
49857    57094.09
49921     2185.34
49953    77422.37
Name: payment_amount, Length: 1033, dtype: float64
1        19717.06
48       36385.75
81        4757.68
194      67724.30
238      48803.55
           ...
49755    10973.12
49771    66740.74
49818    66899.78
49916    72594.38
49937    29503.17
Name: payment_amount, Length: 1024, dtype: float64
168      10364.66
199      45808.16
292      37529.75
313      66445.79
317      28852.80
           ...
49796     2484.38
49845    76499.29
49900     6809.55
49910    45034.53
49919    34876.98
Name: payment_amount, Length: 980, dtype: float64
5        93030.20
39       98281.83
42       79353.90
62       72777.64
83       21251.95
           ...
49869    88086.14
49881    43392.52
49901    97843.77
49980    79394.24
49984    19070.73
Name: payment_amount, Length: 994, dtype: float64
124      35979.41
138      44198.14
231      17380.53
326      58318.65
397      52445.92
           ...
49786    10381.26
49894    98897.26
49909    99746.72
49918    14370.99
49964    39012.53
Name: payment_amount, Length: 1002, dtype: float64
35       47020.04
274      35406.17
302      21452.53
494      93145.28
567      82824.03
           ...
49569    70809.81
49590    51763.33
49627    19129.16
49746    84117.00
49977    94660.98
Name: payment_amount, Length: 965, dtype: float64
204       7439.79
524      74563.41
526      93096.40
544      55124.76
558      51004.57
           ...
49766    22366.40
49835    60023.03
49859     8333.60
49903    60150.05
49991    78126.38
Name: payment_amount, Length: 1077, dtype: float64
47       39778.82
71        2647.13
91       11007.14
99       85771.46
180       9436.00
           ...
49772    79833.21
49823    24161.29
49883    75165.26
49884    41537.56
49983    76242.88
Name: payment_amount, Length: 1024, dtype: float64
105      50974.72
107      79034.70
121      29558.66
123      90924.84
135      66600.38
           ...
49737    22714.55
49789    54065.97
49851    17311.96
49939    32865.44
49989    16287.38
Name: payment_amount, Length: 1017, dtype: float64
17       91623.11
18       93041.64
31       84754.74
43       98008.79
70       39476.80
           ...
49804    94580.56
49816    53882.21
49892    83719.73
49902    38721.53
49947    73694.13
Name: payment_amount, Length: 1032, dtype: float64
120      88772.76
181      70120.12
187      20841.52
233      87982.79
279      47700.86
           ...
49430    40185.31
49543    56045.25
49553    31929.51
49570    39943.44
49954    36888.88
Name: payment_amount, Length: 987, dtype: float64
9        61074.05
15       22364.24
26       33907.85
37       66135.68
126      86309.30
           ...
49721    63498.37
49730    16546.08
49849    99463.31
49850     2867.58
49899    78671.85
Name: payment_amount, Length: 993, dtype: float64
108      90819.97
128      18611.30
165      23908.02
176      84702.19
211      94535.83
           ...
49698     3838.12
49754    85298.40
49825    94787.64
49888    89946.36
49973     1507.98
Name: payment_amount, Length: 994, dtype: float64
41       49680.01
59       28263.21
60       63589.08
88       62795.88
146      75829.15
           ...
49803    75118.57
49811    51769.13
49848    45664.16
49882    37745.80
49994    10386.53
Name: payment_amount, Length: 991, dtype: float64
67       36840.81
80       98983.29
114      76457.26
172      51550.92
175      60867.29
           ...
49833     9716.61
49837    42880.31
49846    54763.59
49866      793.89
49970    34677.38
Name: payment_amount, Length: 993, dtype: float64
33       43230.24
49       12278.18
127      14575.36
241      50380.18
249      44628.18
           ...
49594    44477.88
49634    63241.69
49801    95756.56
49880    59344.67
49938    23760.52
Name: payment_amount, Length: 1034, dtype: float64
212      70432.99
235      46971.23
236      55641.78
250      37393.68
333      15055.65
           ...
49683    52794.33
49788    69163.71
49831    13528.56
49865    70179.35
49928    90854.64
Name: payment_amount, Length: 992, dtype: float64
2        94456.98
22       27867.80
30       71445.02
110      54806.89
118      95175.21
           ...
49827    61393.01
49854    47236.47
49895    26040.14
49914    60063.38
49958     2139.70
Name: payment_amount, Length: 1019, dtype: float64
32       16815.16
122      23838.04
190      71308.76
320       2271.63
398      24027.15
           ...
49861    81404.12
49920    33880.22
49941    72238.30
49967    20603.19
49995    71198.98
Name: payment_amount, Length: 1033, dtype: float64
89       61784.79
98       36864.62
183      69549.12
206      76270.91
210      59441.40
           ...
49497    27804.77
49577    53319.90
49582    13436.35
49680    37089.86
49998    56900.04
Name: payment_amount, Length: 973, dtype: float64
38       48217.41
240      97171.17
318      74090.50
432      17288.55
486      60537.61
           ...
49886    61716.34
49915    16712.91
49943    86041.27
49986    83665.78
49992    25190.53
Name: payment_amount, Length: 966, dtype: float64
14       10611.57
16       53145.67
21       16138.18
84       82295.24
161      69580.80
           ...
49779    81177.15
49802     6853.59
49821    58250.65
49847    91010.70
49868    28480.01
Name: payment_amount, Length: 1008, dtype: float64
23       18173.83
92       79922.60
140      49205.92
419      96759.37
425      79525.12
           ...
49667     4816.86
49673    36983.92
49674     2105.38
49844    72191.43
49997    86319.48
Name: payment_amount, Length: 1053, dtype: float64
56       33521.55
167      36882.39
169      97259.25
171      11772.36
258      38665.41
           ...
49662    37605.92
49879    99844.38
49891    13615.42
49905    27578.62
49962    97524.44
Name: payment_amount, Length: 1058, dtype: float64
154      85661.83
244      89113.20
358      41556.20
381      24179.77
407      99639.34
           ...
49890    95414.71
49924     3914.77
49929    10303.44
49931    64387.85
49971      425.86
Name: payment_amount, Length: 957, dtype: float64
34       91711.01
86       29649.21
157      62773.80
202      56708.28
205      81595.29
           ...
49733     6381.41
49743    41689.11
49751    30736.13
49768    34167.30
49976    16766.38
Name: payment_amount, Length: 916, dtype: float64
237      43751.64
346      74136.63
430      28997.75
466      68968.85
502      69440.71
           ...
49826    74465.40
49856    37832.42
49930    29839.97
49944    22042.48
49999     7925.49
Name: payment_amount, Length: 937, dtype: float64
0        33154.19
50       68651.25
52        6442.43
85       54022.69
112      18640.95
           ...
49853    22283.99
49855     6839.17
49904    39883.17
49935    81681.31
49993    88979.76
Name: payment_amount, Length: 934, dtype: float64
24       90086.92
61       64271.80
74        9231.76
87       95456.75
111      34550.16
           ...
49819    26025.35
49917    24123.10
49955    85018.73
49956    60392.00
49985    25864.79
Name: payment_amount, Length: 1042, dtype: float64
3        90093.17
4        92000.51
53       33899.46
100      98229.92
178      15492.05
           ...
49814     5494.10
49907    58676.22
49961    53102.53
49966     5890.13
49979     6779.58
Name: payment_amount, Length: 1075, dtype: float64

50