In [44]:
import pandas as pd
df1 = pd.read_csv('dataset/payment_one.csv')
df2 = pd.read_csv('dataset/payment_two.csv')
max_id_in_df1 = df1['id'].max()
max_id_in_df1
df1

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,651ba896fc13ae5a33fd67c1,Nikita Siflet,nsifletrn@theguardian.com,122.52.109.93,e344e51bec6398844fcb74727cc049a6,$87360.97,50000,2022-08-17 01:25:45,Pending,Bill Transaction,Cheque
996,997,651ba896fc13ae5a33fd67c2,Lynnett Hands,lhandsro@howstuffworks.com,184.127.118.128,af30cf63b3acf6311626fe76fc0e334a,$1014.76,25000,2021-10-20 20:26:08,Completed,Purchase Transaction,UPI
997,998,651ba896fc13ae5a33fd67c3,Berty Conniam,bconniamrp@cyberchimps.com,102.61.120.33,20dcebc0e92547edb9d3648826758833,$34231.18,10000,2023-03-02 10:01:52,Pending,Loan Transaction,Credit Card
998,999,651ba896fc13ae5a33fd67c4,Bale Davidovitz,bdavidovitzrq@google.com.hk,40.109.144.123,df27b5c3fd7ffdca5ec69c834ee2c844,$15362.04,25000,2023-04-14 07:40:12,Failed,Purchase Transaction,Bank Transfer
999,1000,651ba896fc13ae5a33fd67c5,Nonah Durram,ndurramrr@foxnews.com,206.79.205.42,e4d5982c599fb4563736d0afcacad740,$57150.44,10000,2023-06-30 11:51:31,Failed,Purchase Transaction,Bank Transfer

In [45]:
df2['id'] = df2['id'] + max_id_in_df1
df2

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1001,651ba8c0fc13ae594bfd7fd2,Marcelia McEvilly,mmcevilly0@sciencedirect.com,22.241.188.166,3a394c32f7bce39051ab1d1e0e64bb04,$41028.78,10000,2022-09-14 10:06:39,Failed,Bill Transaction,Bank Transfer
1,1002,651ba8c0fc13ae594bfd7fd3,Reinhard Enbury,renbury1@dell.com,27.22.38.27,57ec17a29aee3e24088a1bd32324fd8d,$40787.22,25000,2022-12-19 14:55:42,Completed,Bill Transaction,Cheque
2,1003,651ba8c0fc13ae594bfd7fd4,Ettore Mohring,emohring2@mozilla.org,162.64.136.238,91aec9c8751311fadc434b3f73fcad66,$45325.99,10000,2023-05-20 22:07:35,Pending,Loan Transaction,Bank Transfer
3,1004,651ba8c0fc13ae594bfd7fd5,Cally Fernandes,cfernandes3@cocolog-nifty.com,44.129.31.40,631ae1f580ac917dca5a49dea06adce0,$40795.43,10000,2022-04-08 12:41:28,Completed,Purchase Transaction,UPI
4,1005,651ba8c0fc13ae594bfd7fd6,Catharine De Coursey,cde4@istockphoto.com,188.187.175.49,2188e618edf8eca33547fab38697b141,$59188.94,10000,2023-03-23 14:41:58,Failed,Purchase Transaction,Cheque
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1996,651ba8c2fc13ae594bfd83b5,Netti Beining,nbeiningrn@virginia.edu,161.162.107.192,bf88911becdc2828528e49d711075c23,$59184.07,25000,2023-07-22 23:51:04,Failed,Loan Transaction,Cheque
996,1997,651ba8c2fc13ae594bfd83b6,Glenn Ibbotson,gibbotsonro@ebay.co.uk,9.151.146.147,7b56512b9cd06c3887ed3225ad9b7035,$57314.24,25000,2021-12-29 09:36:21,Pending,Loan Transaction,Cheque
997,1998,651ba8c2fc13ae594bfd83b7,Merrick Eschelle,meschellerp@tripadvisor.com,214.56.12.47,c17fba88b33b2e5bfe62b2a9e929ad65,$31121.06,50000,2021-10-18 22:50:01,Pending,Loan Transaction,Bank Transfer
998,1999,651ba8c2fc13ae594bfd83b8,Emmy Lashley,elashleyrq@bloglines.com,117.31.246.2,7ff52acdd9bf2e51863bb2648e9d22e9,$85796.48,50000,2023-06-13 11:54:50,Failed,Purchase Transaction,Bank Transfer
999,2000,651ba8c2fc13ae594bfd83b9,Valentin Kennford,vkennfordrr@amazon.de,31.127.192.106,32360b975b37101fa14a31381d641014,$83441.65,75000,2023-09-24 17:22:25,Completed,Refund Transaction,UPI

In [46]:
combined_df = pd.concat([df1, df2], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,651ba8c2fc13ae594bfd83b5,Netti Beining,nbeiningrn@virginia.edu,161.162.107.192,bf88911becdc2828528e49d711075c23,$59184.07,25000,2023-07-22 23:51:04,Failed,Loan Transaction,Cheque
1996,1997,651ba8c2fc13ae594bfd83b6,Glenn Ibbotson,gibbotsonro@ebay.co.uk,9.151.146.147,7b56512b9cd06c3887ed3225ad9b7035,$57314.24,25000,2021-12-29 09:36:21,Pending,Loan Transaction,Cheque
1997,1998,651ba8c2fc13ae594bfd83b7,Merrick Eschelle,meschellerp@tripadvisor.com,214.56.12.47,c17fba88b33b2e5bfe62b2a9e929ad65,$31121.06,50000,2021-10-18 22:50:01,Pending,Loan Transaction,Bank Transfer
1998,1999,651ba8c2fc13ae594bfd83b8,Emmy Lashley,elashleyrq@bloglines.com,117.31.246.2,7ff52acdd9bf2e51863bb2648e9d22e9,$85796.48,50000,2023-06-13 11:54:50,Failed,Purchase Transaction,Bank Transfer
1999,2000,651ba8c2fc13ae594bfd83b9,Valentin Kennford,vkennfordrr@amazon.de,31.127.192.106,32360b975b37101fa14a31381d641014,$83441.65,75000,2023-09-24 17:22:25,Completed,Refund Transaction,UPI

In [50]:
df3 = pd.read_csv('dataset/payment_three.csv')
df4 = pd.read_csv('dataset/payment_four.csv')
df5 = pd.read_csv('dataset/payment_five.csv')
max_id_in_combined = combined_df['id'].max()
max_id_in_combined

2000

In [51]:
df3['id'] = df3['id'] + max_id_in_combined
df3

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,2001,651ba902fc13ae585afd822a,Antonio Beynkn,abeynkn0@hc360.com,67.55.66.57,dfd9ada43afa43f37c02e08b9508fcd5,$9749.82,10000,2022-08-29 06:20:33,Pending,Refund Transaction,Credit Card
1,2002,651ba902fc13ae585afd822b,Eleanora Antonazzi,eantonazzi1@guardian.co.uk,1.96.76.57,2c977c48bddfdcd39f615f0ff0d33f8d,$65932.29,10000,2022-10-28 23:48:54,Pending,Refund Transaction,UPI
2,2003,651ba902fc13ae585afd822c,Crystie Mainston,cmainston2@loc.gov,177.133.239.10,3e7a3a062c0e14e9fb073208991895a1,$44939.31,25000,2021-10-24 13:36:01,Failed,Refund Transaction,UPI
3,2004,651ba902fc13ae585afd822d,Rhea Found,rfound3@earthlink.net,103.114.48.39,48f67fd358578d0795b1c77a94093a92,$51862.77,10000,2022-07-01 17:36:03,Failed,Refund Transaction,Credit Card
4,2005,651ba902fc13ae585afd822e,Ardelle Pockey,apockey4@xrea.com,8.214.126.29,1f3a0471049a2403dcb97f7aa3f571b2,$69631.54,25000,2022-05-29 02:33:39,Failed,Bill Transaction,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2996,651ba904fc13ae585afd860d,Araldo Riccardo,ariccardorn@wp.com,230.131.212.208,a098c98071c2c29175b8f9ed1aafb7cb,$48940.92,75000,2022-07-18 03:58:29,Failed,Bill Transaction,Bank Transfer
996,2997,651ba904fc13ae585afd860e,Kenny Drake,kdrakero@bbb.org,232.191.177.245,820d733cf859547c3c6c4057fbab17d8,$56659.42,75000,2022-09-07 11:56:30,Failed,Bill Transaction,Net Banking
997,2998,651ba904fc13ae585afd860f,Geoffry Rix,grixrp@nbcnews.com,14.79.52.89,d812f5f340cd0a5df17625e829739166,$83006.42,10000,2022-12-25 22:39:08,Completed,Loan Transaction,Credit Card
998,2999,651ba904fc13ae585afd8610,Christian Ygoe,cygoerq@soundcloud.com,241.155.235.214,5c93927ec68094049687229eb51341dd,$97435.18,75000,2022-09-27 03:56:41,Failed,Bill Transaction,Cheque
999,3000,651ba904fc13ae585afd8611,Elisabet Bleythin,ebleythinrr@elegantthemes.com,228.72.39.53,611319ec43152b53791221381e4317e1,$4831.32,10000,2021-12-23 21:38:33,Pending,Bill Transaction,UPI

In [52]:
combined_df = pd.concat([combined_df, df3], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,651ba904fc13ae585afd860d,Araldo Riccardo,ariccardorn@wp.com,230.131.212.208,a098c98071c2c29175b8f9ed1aafb7cb,$48940.92,75000,2022-07-18 03:58:29,Failed,Bill Transaction,Bank Transfer
2996,2997,651ba904fc13ae585afd860e,Kenny Drake,kdrakero@bbb.org,232.191.177.245,820d733cf859547c3c6c4057fbab17d8,$56659.42,75000,2022-09-07 11:56:30,Failed,Bill Transaction,Net Banking
2997,2998,651ba904fc13ae585afd860f,Geoffry Rix,grixrp@nbcnews.com,14.79.52.89,d812f5f340cd0a5df17625e829739166,$83006.42,10000,2022-12-25 22:39:08,Completed,Loan Transaction,Credit Card
2998,2999,651ba904fc13ae585afd8610,Christian Ygoe,cygoerq@soundcloud.com,241.155.235.214,5c93927ec68094049687229eb51341dd,$97435.18,75000,2022-09-27 03:56:41,Failed,Bill Transaction,Cheque
2999,3000,651ba904fc13ae585afd8611,Elisabet Bleythin,ebleythinrr@elegantthemes.com,228.72.39.53,611319ec43152b53791221381e4317e1,$4831.32,10000,2021-12-23 21:38:33,Pending,Bill Transaction,UPI

In [53]:
max_id_in_combined = combined_df['id'].max()
max_id_in_combined

3000

In [54]:
df4['id'] = df4['id'] + max_id_in_combined
df4

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,3001,651ba917fc13ae58c1fd7dde,Julissa Uden,juden0@huffingtonpost.com,142.148.129.63,26192642c34bf65888482e87076ebed4,$72197.59,75000,2023-07-23 07:21:17,Failed,Purchase Transaction,Bank Transfer
1,3002,651ba917fc13ae58c1fd7ddf,Trina Callingham,tcallingham1@yandex.ru,170.12.79.45,239fee279cb707ec8fffb4dff1e1bf29,$86400.52,50000,2023-05-10 03:31:30,Failed,Loan Transaction,Cheque
2,3003,651ba917fc13ae58c1fd7de0,Nert Banister,nbanister2@columbia.edu,80.238.20.180,1b5cb268099e53e41e50e042de083aa4,$29506.18,75000,2023-04-13 10:23:30,Completed,Purchase Transaction,Debit Card
3,3004,651ba917fc13ae58c1fd7de1,Kiah Eastes,keastes3@list-manage.com,205.195.114.206,8e2b609a9e625745e700d4cd14d878bf,$75073.27,10000,2021-12-16 19:50:41,Pending,Purchase Transaction,Bank Transfer
4,3005,651ba917fc13ae58c1fd7de2,Chicky Cheater,ccheater4@surveymonkey.com,130.172.11.187,45902266d99b711aa2474a0661a01e8c,$68656.72,10000,2022-01-02 15:14:50,Completed,Purchase Transaction,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
995,3996,651ba919fc13ae58c1fd81c1,Vincent Lebrun,vlebrunrn@salon.com,227.90.126.168,cb120ec95694c7cf85109639cd0f7e60,$43407.80,25000,2022-11-26 05:08:55,Failed,Purchase Transaction,Cheque
996,3997,651ba919fc13ae58c1fd81c2,Chelsy De Roeck,cdero@meetup.com,167.87.37.198,05e5324a89096f466e8c9b7d7665bf39,$249.51,25000,2021-12-31 10:47:46,Failed,Loan Transaction,UPI
997,3998,651ba919fc13ae58c1fd81c3,Deeyn Caherny,dcahernyrp@istockphoto.com,144.218.132.106,3d174387bfd18e98f4a1d57a3da3fb24,$95695.07,75000,2022-08-21 13:53:45,Pending,Loan Transaction,Debit Card
998,3999,651ba919fc13ae58c1fd81c4,Rodolphe Lawtey,rlawteyrq@unesco.org,63.145.221.13,81933dc91825a2ae634cbff807f6c481,$4418.65,25000,2022-02-15 10:12:10,Pending,Bill Transaction,Net Banking
999,4000,651ba919fc13ae58c1fd81c5,Hyacintha Darko,hdarkorr@samsung.com,226.233.123.221,d5946cbcf5130749de664e1906eb0281,$87788.62,25000,2022-12-09 12:30:04,Pending,Purchase Transaction,Bank Transfer

In [55]:
combined_df = pd.concat([combined_df, df4], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,651ba919fc13ae58c1fd81c1,Vincent Lebrun,vlebrunrn@salon.com,227.90.126.168,cb120ec95694c7cf85109639cd0f7e60,$43407.80,25000,2022-11-26 05:08:55,Failed,Purchase Transaction,Cheque
3996,3997,651ba919fc13ae58c1fd81c2,Chelsy De Roeck,cdero@meetup.com,167.87.37.198,05e5324a89096f466e8c9b7d7665bf39,$249.51,25000,2021-12-31 10:47:46,Failed,Loan Transaction,UPI
3997,3998,651ba919fc13ae58c1fd81c3,Deeyn Caherny,dcahernyrp@istockphoto.com,144.218.132.106,3d174387bfd18e98f4a1d57a3da3fb24,$95695.07,75000,2022-08-21 13:53:45,Pending,Loan Transaction,Debit Card
3998,3999,651ba919fc13ae58c1fd81c4,Rodolphe Lawtey,rlawteyrq@unesco.org,63.145.221.13,81933dc91825a2ae634cbff807f6c481,$4418.65,25000,2022-02-15 10:12:10,Pending,Bill Transaction,Net Banking
3999,4000,651ba919fc13ae58c1fd81c5,Hyacintha Darko,hdarkorr@samsung.com,226.233.123.221,d5946cbcf5130749de664e1906eb0281,$87788.62,25000,2022-12-09 12:30:04,Pending,Purchase Transaction,Bank Transfer

In [56]:
max_id_in_combined = combined_df['id'].max()
max_id_in_combined

4000

In [57]:
df5['id'] = df5['id'] + max_id_in_combined
df5

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,4001,651ba929fc13ae59ccfd68c6,Steven Warne,swarne0@privacy.gov.au,89.171.253.185,0f696dfe3b01d22d6cac6e61d6162d57,$61166.26,25000,2022-03-25 02:20:56,Completed,Bill Transaction,Bank Transfer
1,4002,651ba929fc13ae59ccfd68c7,Jammal Jost,jjost1@aboutads.info,95.83.99.180,8bde004cf9d29cb37d065904b1bc5127,$13582.35,10000,2022-03-03 12:01:18,Failed,Bill Transaction,Bank Transfer
2,4003,651ba929fc13ae59ccfd68c8,Clotilda Sterricks,csterricks2@stumbleupon.com,227.192.254.233,89b980747463e58d21c7d59b07a2b71d,$7207.95,10000,2023-06-15 01:50:15,Completed,Bill Transaction,Debit Card
3,4004,651ba929fc13ae59ccfd68c9,Booth Chasemore,bchasemore3@springer.com,189.129.15.189,94b44b1bc5bd438fdff5151529b88978,$60301.67,50000,2022-10-16 09:12:42,Pending,Bill Transaction,Net Banking
4,4005,651ba929fc13ae59ccfd68ca,Rusty Sprosson,rsprosson4@php.net,115.92.25.25,546ed9f3a19c39811eec79a1db50e501,$87845.17,75000,2022-02-10 05:30:31,Failed,Bill Transaction,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,$36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,$66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,$39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,$53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,$52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [58]:
combined_df = pd.concat([combined_df, df5], ignore_index=True)
combined_df

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,$36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
4996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,$66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
4997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,$39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
4998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,$53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
4999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,$52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [59]:
combined_df.to_csv('payment_combined.csv', index=False)

In [68]:
paydf=pd.read_csv('dataset/payment_combined.csv')
paydf

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,$91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,$37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,$13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,$85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,$3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,$36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
4996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,$66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
4997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,$39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
4998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,$53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
4999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,$52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [69]:
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   object
 7   transaction_limit   5000 non-null   int64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: int64(2), object(10)
memory usage: 468.9+ KB

In [72]:
paydf['transaction_amount'] = paydf['transaction_amount'].str.replace("$", "").astype(float)
paydf

,id,entity_id,name,email,ip_address,transaction_id,transaction_amount,transaction_limit,transaction_time,transaction_status,transaction_type,payment_method
0,1,651ba894fc13ae5a33fd63de,Tony Stather,tstather0@engadget.com,104.149.14.236,b85157a79caf552696a0455659176ba0,91542.37,50000,2022-09-29 08:31:45,Failed,Loan Transaction,Cheque
1,2,651ba894fc13ae5a33fd63df,Berta Pietz,bpietz1@delicious.com,253.198.94.115,f54cb081ae7c5256a0d87390df95d295,37088.59,50000,2022-12-18 15:26:59,Failed,Loan Transaction,Debit Card
2,3,651ba894fc13ae5a33fd63e0,Idette Montes,imontes2@foxnews.com,128.215.163.145,310c17c83691dbdcb32c5b633d760f81,13584.40,10000,2022-08-07 06:06:59,Pending,Loan Transaction,Cheque
3,4,651ba894fc13ae5a33fd63e1,Renie Verrier,rverrier3@over-blog.com,143.68.236.153,3ef0d5ee515c33c8578e69394cfdfa81,85612.45,50000,2023-04-04 09:13:20,Pending,Loan Transaction,Net Banking
4,5,651ba894fc13ae5a33fd63e2,Karlan Agney,kagney4@flavors.me,42.244.173.17,f03d1eee42255705982c8cac1f77f03a,3121.92,50000,2023-05-26 09:29:28,Completed,Loan Transaction,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,651ba92afc13ae59ccfd6ca9,Andeee Timpany,atimpanyrn@guardian.co.uk,187.156.184.209,047d43bb6aade7dc6c89b1217c972d60,36564.81,10000,2022-02-06 23:32:38,Pending,Loan Transaction,Cheque
4996,4997,651ba92afc13ae59ccfd6caa,Perrine MacCarrane,pmaccarranero@jimdo.com,197.142.119.228,a101a4bcb27326b4a893fda92d8ae8f9,66659.97,10000,2022-04-16 07:26:11,Completed,Refund Transaction,Cheque
4997,4998,651ba92afc13ae59ccfd6cab,Debby Bouchard,dbouchardrp@mediafire.com,56.81.222.250,8334a9840028b047c0f7645658d04988,39510.13,75000,2022-04-17 23:09:24,Pending,Purchase Transaction,UPI
4998,4999,651ba92afc13ae59ccfd6cac,Annmarie Cruise,acruiserq@aol.com,40.89.217.71,76a4b92379e2453929a0ac53ab0c4514,53819.74,75000,2022-07-11 19:03:59,Completed,Bill Transaction,Net Banking
4999,5000,651ba92afc13ae59ccfd6cad,Zsa zsa Fontanet,zzsarr@craigslist.org,39.123.179.160,3cdd03219bea559fbc9e5f63219546a6,52718.52,75000,2022-09-05 21:13:16,Failed,Refund Transaction,UPI

In [73]:
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   float64
 7   transaction_limit   5000 non-null   int64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 468.9+ KB

In [75]:
pd.options.display.max_rows = 9999
print(pd.options.display.max_rows)

9999

In [78]:
pd.set_option('display.expand_frame_repr', False)

In [80]:
pd.options.display.max_rows = 60
print(pd.options.display.max_rows)

60

In [81]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0        1  651ba894fc13ae5a33fd63de        Tony Stather     tstather0@engadget.com   104.149.14.236  b85157a79caf552696a0455659176ba0            91542.37              50000  2022-09-29 08:31:45             Failed      Loan Transaction         Cheque
1        2  651ba894fc13ae5a33fd63df         Berta Pietz      bpietz1@delicious.com   253.198.94.115  f54cb081ae7c5256a0d87390df95d295            37088.59              50000  2022-12-18 15:26:59             Failed      Loan Transaction     Debit Card
2        3  651ba894fc13ae5a33fd63e0       Idette Montes       imontes2@foxnews.com  128.215.163.145  310c17c83691dbdcb32c5b633d760f81            13584.40              10000  2022-08-07 06:06:59            Pending      Loan Transaction         Cheque
3        4  651ba894fc13ae5a33fd63e1       Renie Verrier    rverrier3@over-blog.com   143.68.236.153  3ef0d5ee515c33c8578e69394cfdfa81            85612.45              50000  2023-04-04 09:13:20            Pending      Loan Transaction    Net Banking
4        5  651ba894fc13ae5a33fd63e2        Karlan Agney         kagney4@flavors.me    42.244.173.17  f03d1eee42255705982c8cac1f77f03a             3121.92              50000  2023-05-26 09:29:28          Completed      Loan Transaction     Debit Card
...    ...                       ...                 ...                        ...              ...                               ...                 ...                ...                  ...                ...                   ...            ...
4995  4996  651ba92afc13ae59ccfd6ca9      Andeee Timpany  atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60            36564.81              10000  2022-02-06 23:32:38            Pending      Loan Transaction         Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane    pmaccarranero@jimdo.com  197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9            66659.97              10000  2022-04-16 07:26:11          Completed    Refund Transaction         Cheque
4997  4998  651ba92afc13ae59ccfd6cab      Debby Bouchard  dbouchardrp@mediafire.com    56.81.222.250  8334a9840028b047c0f7645658d04988            39510.13              75000  2022-04-17 23:09:24            Pending  Purchase Transaction            UPI
4998  4999  651ba92afc13ae59ccfd6cac     Annmarie Cruise          acruiserq@aol.com     40.89.217.71  76a4b92379e2453929a0ac53ab0c4514            53819.74              75000  2022-07-11 19:03:59          Completed      Bill Transaction    Net Banking
4999  5000  651ba92afc13ae59ccfd6cad    Zsa zsa Fontanet      zzsarr@craigslist.org   39.123.179.160  3cdd03219bea559fbc9e5f63219546a6            52718.52              75000  2022-09-05 21:13:16             Failed    Refund Transaction            UPI

[5000 rows x 12 columns]

In [82]:
paydf.to_csv('dataset/payment_combined.csv', index=False)

In [83]:
newpaydf = pd.read_csv('dataset/payment_combined.csv')
newpaydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0        1  651ba894fc13ae5a33fd63de        Tony Stather     tstather0@engadget.com   104.149.14.236  b85157a79caf552696a0455659176ba0            91542.37              50000  2022-09-29 08:31:45             Failed      Loan Transaction         Cheque
1        2  651ba894fc13ae5a33fd63df         Berta Pietz      bpietz1@delicious.com   253.198.94.115  f54cb081ae7c5256a0d87390df95d295            37088.59              50000  2022-12-18 15:26:59             Failed      Loan Transaction     Debit Card
2        3  651ba894fc13ae5a33fd63e0       Idette Montes       imontes2@foxnews.com  128.215.163.145  310c17c83691dbdcb32c5b633d760f81            13584.40              10000  2022-08-07 06:06:59            Pending      Loan Transaction         Cheque
3        4  651ba894fc13ae5a33fd63e1       Renie Verrier    rverrier3@over-blog.com   143.68.236.153  3ef0d5ee515c33c8578e69394cfdfa81            85612.45              50000  2023-04-04 09:13:20            Pending      Loan Transaction    Net Banking
4        5  651ba894fc13ae5a33fd63e2        Karlan Agney         kagney4@flavors.me    42.244.173.17  f03d1eee42255705982c8cac1f77f03a             3121.92              50000  2023-05-26 09:29:28          Completed      Loan Transaction     Debit Card
...    ...                       ...                 ...                        ...              ...                               ...                 ...                ...                  ...                ...                   ...            ...
4995  4996  651ba92afc13ae59ccfd6ca9      Andeee Timpany  atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60            36564.81              10000  2022-02-06 23:32:38            Pending      Loan Transaction         Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane    pmaccarranero@jimdo.com  197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9            66659.97              10000  2022-04-16 07:26:11          Completed    Refund Transaction         Cheque
4997  4998  651ba92afc13ae59ccfd6cab      Debby Bouchard  dbouchardrp@mediafire.com    56.81.222.250  8334a9840028b047c0f7645658d04988            39510.13              75000  2022-04-17 23:09:24            Pending  Purchase Transaction            UPI
4998  4999  651ba92afc13ae59ccfd6cac     Annmarie Cruise          acruiserq@aol.com     40.89.217.71  76a4b92379e2453929a0ac53ab0c4514            53819.74              75000  2022-07-11 19:03:59          Completed      Bill Transaction    Net Banking
4999  5000  651ba92afc13ae59ccfd6cad    Zsa zsa Fontanet      zzsarr@craigslist.org   39.123.179.160  3cdd03219bea559fbc9e5f63219546a6            52718.52              75000  2022-09-05 21:13:16             Failed    Refund Transaction            UPI

[5000 rows x 12 columns]

In [84]:
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   float64
 7   transaction_limit   5000 non-null   int64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 468.9+ KB

In [109]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0        1  651ba894fc13ae5a33fd63de        Tony Stather     tstather0@engadget.com   104.149.14.236  b85157a79caf552696a0455659176ba0            91542.37              50000  2022-09-29 08:31:45             Failed      Loan Transaction         Cheque
1        2  651ba894fc13ae5a33fd63df         Berta Pietz      bpietz1@delicious.com   253.198.94.115  f54cb081ae7c5256a0d87390df95d295            37088.59              50000  2022-12-18 15:26:59            Pending      Loan Transaction     Debit Card
2        3  651ba894fc13ae5a33fd63e0       Idette Montes       imontes2@foxnews.com  128.215.163.145  310c17c83691dbdcb32c5b633d760f81            13584.40              10000  2022-08-07 06:06:59            Pending      Loan Transaction         Cheque
3        4  651ba894fc13ae5a33fd63e1       Renie Verrier    rverrier3@over-blog.com   143.68.236.153  3ef0d5ee515c33c8578e69394cfdfa81            85612.45              50000  2023-04-04 09:13:20            Pending      Loan Transaction    Net Banking
4        5  651ba894fc13ae5a33fd63e2        Karlan Agney         kagney4@flavors.me    42.244.173.17  f03d1eee42255705982c8cac1f77f03a             3121.92              50000  2023-05-26 09:29:28          Completed      Loan Transaction     Debit Card
...    ...                       ...                 ...                        ...              ...                               ...                 ...                ...                  ...                ...                   ...            ...
4995  4996  651ba92afc13ae59ccfd6ca9      Andeee Timpany  atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60            36564.81              10000  2022-02-06 23:32:38            Pending      Loan Transaction         Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane    pmaccarranero@jimdo.com  197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9            66659.97              10000  2022-04-16 07:26:11          Completed    Refund Transaction         Cheque
4997  4998  651ba92afc13ae59ccfd6cab      Debby Bouchard  dbouchardrp@mediafire.com    56.81.222.250  8334a9840028b047c0f7645658d04988            39510.13              75000  2022-04-17 23:09:24          Completed  Purchase Transaction            UPI
4998  4999  651ba92afc13ae59ccfd6cac     Annmarie Cruise          acruiserq@aol.com     40.89.217.71  76a4b92379e2453929a0ac53ab0c4514            53819.74              75000  2022-07-11 19:03:59            Pending      Bill Transaction    Net Banking
4999  5000  651ba92afc13ae59ccfd6cad    Zsa zsa Fontanet      zzsarr@craigslist.org   39.123.179.160  3cdd03219bea559fbc9e5f63219546a6            52718.52              75000  2022-09-05 21:13:16          Completed    Refund Transaction            UPI

[5000 rows x 12 columns]

In [119]:
import numpy as np
condition = paydf['transaction_amount'] > paydf['transaction_limit']
random_status = np.random.choice(['Pending', 'Failed'], size=condition.sum())
paydf.loc[condition, 'transaction_status'] = random_status

In [110]:
paydf['transaction_limit'] = paydf['transaction_limit'].astype(float)
paydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   entity_id           5000 non-null   object
 2   name                5000 non-null   object
 3   email               5000 non-null   object
 4   ip_address          5000 non-null   object
 5   transaction_id      5000 non-null   object
 6   transaction_amount  5000 non-null   float64
 7   transaction_limit   5000 non-null   float64
 8   transaction_time    5000 non-null   object
 9   transaction_status  5000 non-null   object
 10  transaction_type    5000 non-null   object
 11  payment_method      5000 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 468.9+ KB

In [120]:
condition

0        True
1       False
2        True
3        True
4       False
        ...
4995     True
4996     True
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [157]:
pd.options.display.max_rows = 10

In [158]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0     1     651ba894fc13ae5a33fd63de  Tony Stather        tstather0@engadget.com     104.149.14.236   b85157a79caf552696a0455659176ba0  91542.37            50000.0            2022-09-29 08:31:45  Failed             Loan Transaction      Cheque
1     2     651ba894fc13ae5a33fd63df  Berta Pietz         bpietz1@delicious.com      253.198.94.115   f54cb081ae7c5256a0d87390df95d295  37088.59            50000.0            2022-12-18 15:26:59  Completed          Loan Transaction      Debit Card
2     3     651ba894fc13ae5a33fd63e0  Idette Montes       imontes2@foxnews.com       128.215.163.145  310c17c83691dbdcb32c5b633d760f81  13584.40            10000.0            2022-08-07 06:06:59  Failed             Loan Transaction      Cheque
3     4     651ba894fc13ae5a33fd63e1  Renie Verrier       rverrier3@over-blog.com    143.68.236.153   3ef0d5ee515c33c8578e69394cfdfa81  85612.45            50000.0            2023-04-04 09:13:20  Pending            Loan Transaction      Net Banking
4     5     651ba894fc13ae5a33fd63e2  Karlan Agney        kagney4@flavors.me         42.244.173.17    f03d1eee42255705982c8cac1f77f03a  3121.92             50000.0            2023-05-26 09:29:28  Completed          Loan Transaction      Debit Card
...  ..                          ...           ...                       ...                   ...                                 ...      ...                 ...                            ...        ...                       ...             ...
4995  4996  651ba92afc13ae59ccfd6ca9  Andeee Timpany      atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60  36564.81            10000.0            2022-02-06 23:32:38  Failed             Loan Transaction      Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane  pmaccarranero@jimdo.com    197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9  66659.97            10000.0            2022-04-16 07:26:11  Failed             Refund Transaction    Cheque
4997  4998  651ba92afc13ae59ccfd6cab  Debby Bouchard      dbouchardrp@mediafire.com  56.81.222.250    8334a9840028b047c0f7645658d04988  39510.13            75000.0            2022-04-17 23:09:24  Pending            Purchase Transaction  UPI
4998  4999  651ba92afc13ae59ccfd6cac  Annmarie Cruise     acruiserq@aol.com          40.89.217.71     76a4b92379e2453929a0ac53ab0c4514  53819.74            75000.0            2022-07-11 19:03:59  Completed          Bill Transaction      Net Banking
4999  5000  651ba92afc13ae59ccfd6cad  Zsa zsa Fontanet    zzsarr@craigslist.org      39.123.179.160   3cdd03219bea559fbc9e5f63219546a6  52718.52            75000.0            2022-09-05 21:13:16  Completed          Refund Transaction    UPI

[5000 rows x 12 columns]

In [166]:
paydf['transaction_id'].nunique()

5000

In [167]:
paydf

        id                 entity_id                name                      email       ip_address                    transaction_id  transaction_amount  transaction_limit     transaction_time transaction_status      transaction_type payment_method
0     1     651ba894fc13ae5a33fd63de  Tony Stather        tstather0@engadget.com     104.149.14.236   b85157a79caf552696a0455659176ba0  91542.37            50000.0            2022-09-29 08:31:45  Failed             Loan Transaction      Cheque
1     2     651ba894fc13ae5a33fd63df  Berta Pietz         bpietz1@delicious.com      253.198.94.115   f54cb081ae7c5256a0d87390df95d295  37088.59            50000.0            2022-12-18 15:26:59  Completed          Loan Transaction      Debit Card
2     3     651ba894fc13ae5a33fd63e0  Idette Montes       imontes2@foxnews.com       128.215.163.145  310c17c83691dbdcb32c5b633d760f81  13584.40            10000.0            2022-08-07 06:06:59  Failed             Loan Transaction      Cheque
3     4     651ba894fc13ae5a33fd63e1  Renie Verrier       rverrier3@over-blog.com    143.68.236.153   3ef0d5ee515c33c8578e69394cfdfa81  85612.45            50000.0            2023-04-04 09:13:20  Pending            Loan Transaction      Net Banking
4     5     651ba894fc13ae5a33fd63e2  Karlan Agney        kagney4@flavors.me         42.244.173.17    f03d1eee42255705982c8cac1f77f03a  3121.92             50000.0            2023-05-26 09:29:28  Completed          Loan Transaction      Debit Card
...  ..                          ...           ...                       ...                   ...                                 ...      ...                 ...                            ...        ...                       ...             ...
4995  4996  651ba92afc13ae59ccfd6ca9  Andeee Timpany      atimpanyrn@guardian.co.uk  187.156.184.209  047d43bb6aade7dc6c89b1217c972d60  36564.81            10000.0            2022-02-06 23:32:38  Failed             Loan Transaction      Cheque
4996  4997  651ba92afc13ae59ccfd6caa  Perrine MacCarrane  pmaccarranero@jimdo.com    197.142.119.228  a101a4bcb27326b4a893fda92d8ae8f9  66659.97            10000.0            2022-04-16 07:26:11  Failed             Refund Transaction    Cheque
4997  4998  651ba92afc13ae59ccfd6cab  Debby Bouchard      dbouchardrp@mediafire.com  56.81.222.250    8334a9840028b047c0f7645658d04988  39510.13            75000.0            2022-04-17 23:09:24  Pending            Purchase Transaction  UPI
4998  4999  651ba92afc13ae59ccfd6cac  Annmarie Cruise     acruiserq@aol.com          40.89.217.71     76a4b92379e2453929a0ac53ab0c4514  53819.74            75000.0            2022-07-11 19:03:59  Completed          Bill Transaction      Net Banking
4999  5000  651ba92afc13ae59ccfd6cad  Zsa zsa Fontanet    zzsarr@craigslist.org      39.123.179.160   3cdd03219bea559fbc9e5f63219546a6  52718.52            75000.0            2022-09-05 21:13:16  Completed          Refund Transaction    UPI

[5000 rows x 12 columns]

In [168]:
paydf.to_csv('dataset/payment_combined.csv', index=False)