In [33]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('dataset/payment_history.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   payer_account_number   50000 non-null  int64
 1   payment_amount         50000 non-null  float64
 2   payment_limit          50000 non-null  int64
 3   payment_date_and_time  50000 non-null  object
 4   payment_type           50000 non-null  object
 5   payment_method         50000 non-null  object
 6   payment_status         50000 non-null  object
 7   payee_account_number   50000 non-null  int64
 8   ip_address             50000 non-null  object
 9   is_fraud               50000 non-null  bool
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 3.5+ MB

In [41]:
df

,payer_account_number,payment_amount,payment_limit,payment_date_and_time,payment_type,payment_method,payment_status,payee_account_number,ip_address,is_fraud
0,93241136018,33154.19,10000,2023-10-08 15:53:43.255583,Service,Bank Transfers,Failed,55869792021,22.237.15.53,False
1,51702368715,19717.06,75000,2023-10-09 08:46:45.255583,Service,Digital Wallets,Failed,78817652976,90.231.216.168,True
2,75379272660,94456.98,50000,2023-10-09 00:40:09.255583,Refund,Checks,Failed,49951680412,155.200.150.56,True
3,97412405333,90093.17,50000,2023-10-09 04:46:08.255583,Purchase,Debit,Failed,81653666628,126.184.70.52,True
4,97412405333,92000.51,25000,2023-10-09 00:26:45.255583,Refund,Checks,Pending,13844199885,126.184.70.52,True
...,...,...,...,...,...,...,...,...,...,...
49995,76577126771,71198.98,25000,2023-10-08 05:20:48.782707,Refund,Credit,Failed,78817652976,163.233.167.159,True
49996,7335518416,80254.22,50000,2023-10-08 05:26:30.782707,Service,Debit,Success,41788408679,76.186.214.223,True
49997,81653666628,86319.48,75000,2023-10-09 07:57:10.782707,Refund,Bank Transfers,Success,5691352317,10.167.153.136,True
49998,78817652976,56900.04,50000,2023-10-08 02:16:56.782707,Service,Credit,Pending,49951680412,123.253.196.8,False
49999,87927980177,7925.49,50000,2023-10-07 23:27:51.782707,Purchase,Bank Transfers,Pending,73458485438,60.54.242.157,False

In [42]:
fraud_mapping = {False:0, True:1}
df['is_fraud'] = df['is_fraud'].map(fraud_mapping)
df

,payer_account_number,payment_amount,payment_limit,payment_date_and_time,payment_type,payment_method,payment_status,payee_account_number,ip_address,is_fraud
0,93241136018,33154.19,10000,2023-10-08 15:53:43.255583,Service,Bank Transfers,Failed,55869792021,22.237.15.53,0
1,51702368715,19717.06,75000,2023-10-09 08:46:45.255583,Service,Digital Wallets,Failed,78817652976,90.231.216.168,1
2,75379272660,94456.98,50000,2023-10-09 00:40:09.255583,Refund,Checks,Failed,49951680412,155.200.150.56,1
3,97412405333,90093.17,50000,2023-10-09 04:46:08.255583,Purchase,Debit,Failed,81653666628,126.184.70.52,1
4,97412405333,92000.51,25000,2023-10-09 00:26:45.255583,Refund,Checks,Pending,13844199885,126.184.70.52,1
...,...,...,...,...,...,...,...,...,...,...
49995,76577126771,71198.98,25000,2023-10-08 05:20:48.782707,Refund,Credit,Failed,78817652976,163.233.167.159,1
49996,7335518416,80254.22,50000,2023-10-08 05:26:30.782707,Service,Debit,Success,41788408679,76.186.214.223,1
49997,81653666628,86319.48,75000,2023-10-09 07:57:10.782707,Refund,Bank Transfers,Success,5691352317,10.167.153.136,1
49998,78817652976,56900.04,50000,2023-10-08 02:16:56.782707,Service,Credit,Pending,49951680412,123.253.196.8,0
49999,87927980177,7925.49,50000,2023-10-07 23:27:51.782707,Purchase,Bank Transfers,Pending,73458485438,60.54.242.157,0

In [43]:
status_mapping = {'Pending':1, 'Failed':2, 'Success': 3}
df['payment_status'] = df['payment_status'].map(status_mapping)
df

,payer_account_number,payment_amount,payment_limit,payment_date_and_time,payment_type,payment_method,payment_status,payee_account_number,ip_address,is_fraud
0,93241136018,33154.19,10000,2023-10-08 15:53:43.255583,Service,Bank Transfers,2,55869792021,22.237.15.53,0
1,51702368715,19717.06,75000,2023-10-09 08:46:45.255583,Service,Digital Wallets,2,78817652976,90.231.216.168,1
2,75379272660,94456.98,50000,2023-10-09 00:40:09.255583,Refund,Checks,2,49951680412,155.200.150.56,1
3,97412405333,90093.17,50000,2023-10-09 04:46:08.255583,Purchase,Debit,2,81653666628,126.184.70.52,1
4,97412405333,92000.51,25000,2023-10-09 00:26:45.255583,Refund,Checks,1,13844199885,126.184.70.52,1
...,...,...,...,...,...,...,...,...,...,...
49995,76577126771,71198.98,25000,2023-10-08 05:20:48.782707,Refund,Credit,2,78817652976,163.233.167.159,1
49996,7335518416,80254.22,50000,2023-10-08 05:26:30.782707,Service,Debit,3,41788408679,76.186.214.223,1
49997,81653666628,86319.48,75000,2023-10-09 07:57:10.782707,Refund,Bank Transfers,3,5691352317,10.167.153.136,1
49998,78817652976,56900.04,50000,2023-10-08 02:16:56.782707,Service,Credit,1,49951680412,123.253.196.8,0
49999,87927980177,7925.49,50000,2023-10-07 23:27:51.782707,Purchase,Bank Transfers,1,73458485438,60.54.242.157,0

In [46]:
y = df.is_fraud

In [63]:
payment_features = ['payer_account_number', 'payment_amount', 'payment_limit', 'payment_status']
X = df[payment_features]

In [64]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [65]:
from sklearn.tree import DecisionTreeRegressor

payment_model = DecisionTreeRegressor(random_state=1)

payment_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [66]:
val_predictions = payment_model.predict(val_X)
val_predictions

array([0., 0., 0., ..., 0., 0., 1.])

In [68]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(val_y, val_predictions)

0.00096

In [69]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(val_y, val_predictions)
accuracy

0.99904